                                            /* #sectModel {
        padding: 2em 0 4em 0;
        background-color: rgba(14, 13, 13, 0.952);
    }
     */
                                            
                                            #modelText {
                                                width: 30em;
                                            }
                                            
                                            #modelText h1 {
                                                margin: 0;
                                                font-size: 3rem;
                                                font-weight: 700;
                                                text-transform: uppercase;
                                                color: #363958;
                                            }
                                            
                                            #modelText span {
                                                display: block;
                                                text-transform: uppercase;
                                                color: #fabe4c;
                                            }
                                            
                                            #modelText p {
                                                width: 75%;
                                                margin: .5em 0 1.25em 0;
                                            }
                                            
                                            #modelImg {
                                                width: 25em;
                                            }
                                            
                                            .div {
                                                background-color: rgba(14, 13, 13, 0.952);
                                            }
                                            
                                            #modelImg {
                                                margin-top: -434px;
                                                width: 60%;
                                                /* margin-left: 40em; */
                                                min-height: 100vh;
                                            }
                                            
                                            img {
                                                margin-left: 150px;
                                            }
                                            
                                            .ft2hre {
                                                background: linear-gradient(0deg, #181818 0, #282828 100%);
                                                display: block;
                                                height: 72px;
                                                overflow: hidden;
                                                padding: 0;
                                                position: relative;
                                            }
                                            
                                            .gn7hDb {
                                                align-items: center;
                                                display: flex;
                                                height: 100%;
                                                justify-content: space-between;
                                                margin-right: 13em;
                                            }
                                            
                                            @media only screen and (max-width: 1023px) {
                                                .Skn3Ae {
                                                    animation: first-left-translation 10s ease-in-out both infinite;
                                                }
                                            }
                                            
                                            @media only screen and (max-width: 1023px) {
                                                .Dp1W7e {
                                                    animation: second-left-translation 10s ease-in-out both infinite;
                                                }
                                            }
                                            
                                            @media only screen and (max-width: 1023px) {
                                                .gHjA2d {
                                                    animation: third-left-translation 10s ease-in-out both infinite;
                                                }
                                            }
                                            
                                            li {
                                                border: 0;
                                                color: inherit;
                                                font: inherit;
                                                font-size: 100%;
                                                margin: 0;
                                                padding: 0;
                                                vertical-align: baseline;
                                            }
                                            
                                            .VvU18d {
                                                align-items: center;
                                                display: flex;
                                                flex-wrap: wrap;
                                                justify-content: center;
                                                margin: 0 auto 100px;
                                                max-width: 300px;
                                                text-align: center;
                                            }
                                            
                                            header {
                                                border: 0;
                                                color: inherit;
                                                font: inherit;
                                                font-size: 100%;
                                                margin: 0;
                                                padding: 0;
                                                vertical-align: baseline;
                                            }
                                            
                                            h2 {
                                                display: block;
                                                font-size: 1.5em;
                                                margin-block-start: 0.83em;
                                                margin-block-end: 0.83em;
                                                margin-inline-start: 0px;
                                                margin-inline-end: 0px;
                                                font-weight: bold;
                                            }
                                            
                                            .TGt0Jc {
                                                font-size: 16px;
                                                line-height: 28px;
                                            }
                                            
                                            .slider-wrapper {
                                                position: relative;
                                                height: 250px;
                                                width: 100%;
                                                margin: auto;
                                                display: grid;
                                                place-items: center;
                                                overflow: hidden;
                                                margin-top: -106em;
                                                margin-left: -5em;
                                            }
                                            
                                            .slider-track {
                                                display: flex;
                                                /* width: 100%; */
                                                animation: slidescroll 5s linear infinite;
                                            }
                                            
                                            .slider-track:hover {
                                                animation-play-state: paused;
                                            }
                                            
                                            @keyframes slidescroll {
                                                0% {
                                                    transform: translate(0);
                                                }
                                                100% {
                                                    transform: translate(calc(-350px*1))
                                                }
                                            }
                                            
                                            .slide {
                                                width: 450px;
                                                height: 240px;
                                                display: flex;
                                                /* align-items: center; */
                                                padding: 15px;
                                                /* overflow: hidden; */
                                                /* perspective: 100px; */
                                                cursor: pointer;
                                            }
                                            
                                            .slide img {
                                                max-width: 100%;
                                                min-height: 100%;
                                                object-fit: cover;
                                                border-radius: 20px;
                                            }
                                            
                                            .slider-wrap {
                                                position: relative;
                                                height: 250px;
                                                width: 100%;
                                                margin: auto;
                                                display: grid;
                                                place-items: center;
                                                overflow: hidden;
                                                margin-top: -1em;
                                                margin-left: -5em;
                                            }
                                            
                                            .sliderrr {
                                                display: flex;
                                                /* width: 100%; */
                                                animation: slide 5s linear infinite;
                                            }
                                            
                                            .sliderrr:hover {
                                                animation-play-state: paused;
                                            }
                                            
                                            @keyframes slide {
                                                0% {
                                                    transform: translate(0);
                                                }
                                                100% {
                                                    transform: translate(calc(-350px*1))
                                                }
                                            }
                                            
                                            .slidess {
                                                width: 450px;
                                                height: 240px;
                                                display: flex;
                                                /* align-items: center; */
                                                padding: 15px;
                                                /* overflow: hidden; */
                                                /* perspective: 100px; */
                                                cursor: pointer;
                                            }
                                            
                                            .slidess img {
                                                max-width: 100%;
                                                min-height: 100%;
                                                object-fit: cover;
                                                border-radius: 20px;
                                            }
                                            
                                            .parent:first-of-type {
                                                background: #ffffff url("https://www.gstatic.com/play/games/pc/nebula-morphing.jpg") no-repeat center center;
                                                background-size: cover;
                                            }
                                            
                                            .parent:nth-of-type(2) {
                                                background: #ffffff url("https://www.gstatic.com/play/games/pc/nebula-morphing.jpg") no-repeat center center fixed;
                                                background-size: cover;
                                            }
                                            
                                            .parent:nth-of-type(3) {
                                                background: #ffffff url("https://www.gstatic.com/play/games/pc/nebula-morphing.jpg") no-repeat center center fixed;
                                                background-size: cover;
                                            }
                                            
                                            .parent {
                                                width: 100%;
                                                height: 150vh;
                                                color: #fff;
                                                text-shadow: 0 0 5px #000;
                                                font-family: tahoma;
                                                text-align: center;
                                                line-height: 180%;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                position: relative;
                                                overflow: hidden;
                                                /* background: url(https://www.gstatic.com/play/games/pc/devices-mask.png); */
                                            }
                                            
                                            .parent #p {
                                                padding: 25px
                                            }
                                            
                                            #faq {
                                                max-width: 900px;
                                                margin: auto;
                                                padding: 0 15px;
                                                text-align: center;
                                                margin-top: 20px;
                                            }
                                            
                                            section.faq {
                                                padding-top: 2em;
                                                padding-bottom: 3em;
                                            }
                                            
                                            #faq #ul {
                                                text-align: left;
                                            }
                                            
                                            .transition,
                                            #p,
                                            #ul #li i:before,
                                            #ul #li i:after {
                                                transition: all 0.3s;
                                            }
                                            
                                            #faq .no-select,
                                            #faq #h2 {
                                                -webkit-tap-highlight-color: transparent;
                                                -webkit-touch-callout: none;
                                                user-select: none;
                                            }
                                            
                                            #faq #h1 {
                                                color: rgb(253, 251, 251);
                                                margin-bottom: 30px;
                                                margin-top: 0;
                                            }
                                            
                                            #faq #h2 {
                                                color: #a8f1be;
                                                font-family: 'hm_light', sans-serif;
                                                font-size: 20px;
                                                line-height: 34px;
                                                text-align: left;
                                                padding: 15px 15px 0;
                                                text-transform: none;
                                                font-weight: 300;
                                                letter-spacing: 1px;
                                                display: block;
                                                margin: 0;
                                                cursor: pointer;
                                                transition: .2s;
                                            }
                                            
                                            #faq #p {
                                                color: rgb(252, 243, 243);
                                                text-align: left;
                                                font-family: 'hm_light', sans-serif;
                                                font-size: 14px;
                                                line-height: 1.45;
                                                position: relative;
                                                overflow: hidden;
                                                max-height: 250px;
                                                will-change: max-height;
                                                contain: layout;
                                                display: inline-block;
                                                opacity: 1;
                                                transform: translate(0, 0);
                                                margin-top: 5px;
                                                margin-bottom: 15px;
                                                padding: 0 50px 0 15px;
                                                transition: .3s opacity, .6s max-height;
                                                hyphens: auto;
                                                z-index: 2;
                                            }
                                            
                                            #faq #ul {
                                                list-style: none;
                                                perspective: 900;
                                                padding: 0;
                                                margin: 0;
                                            }
                                            
                                            #faq #ul #li {
                                                position: relative;
                                                overflow: hidden;
                                                padding: 0;
                                                margin: 0;
                                                /*padding-bottom: 4px;*/
                                                /*padding-top: 18px;*/
                                                /* background: #fff; */
                                                box-shadow: 0 3px 10px -2px rgba(8, 8, 8, 0.1);
                                                -webkit-tap-highlight-color: transparent;
                                            }
                                            
                                            #faq #ul #li+#li {
                                                margin-top: 15px;
                                            }
                                            
                                            #faq #ul #li:last-of-type {
                                                padding-bottom: 0;
                                            }
                                            
                                            #faq #ul #li i {
                                                position: absolute;
                                                transform: translate(-6px, 0);
                                                margin-top: 28px;
                                                right: 15px;
                                            }
                                            
                                            #fa #ul #li i:before,
                                            #ul #li i:after {
                                                content: "";
                                                position: absolute;
                                                background-color: #a8f1be;
                                                width: 3px;
                                                height: 9px;
                                            }
                                            
                                            #faq #ul #li i:before {
                                                transform: translate(-2px, 0) rotate(45deg);
                                            }
                                            
                                            #faq #ul #li i:after {
                                                transform: translate(2px, 0) rotate(-45deg);
                                            }
                                            
                                            #faq #ul #li #input[type=checkbox] {
                                                position: absolute;
                                                cursor: pointer;
                                                width: 100%;
                                                height: 100%;
                                                z-index: 1;
                                                opacity: 0;
                                                touch-action: manipulation;
                                            }
                                            
                                            #faq #ul #li #input[type=checkbox]:checked~h2 {
                                                color: rgb(250, 246, 246);
                                            }
                                            
                                            #faq #ul #li #input[type=checkbox]:checked~p {
                                                /*margin-top: 0;*/
                                                max-height: 0;
                                                transition: .3s;
                                                opacity: 0;
                                                /*transform: translate(0, 50%);*/
                                            }
                                            
                                            #faq #ul #li #input[type=checkbox]:checked~i:before {
                                                transform: translate(2px, 0) rotate(45deg);
                                            }
                                            
                                            #faq #ul #li #input[type=checkbox]:checked~i:after {
                                                transform: translate(-2px, 0) rotate(-45deg);
                                            }
                                            
                                            #h1,
                                            #h2 {
                                                margin: .3em 0;
                                            }
                                            
                                            #ul {
                                                padding: 0;
                                                list-style: none;
                                            }
                                            /* img {
                                                vertical-align: middle;
                                                height: auto;
                                                width: 100%;
                                            } */
                                            
                                            hr {
                                                color: white;
                                            }
                                            
                                            #tablet {
                                                animation: tablet 8s infinite;
                                                /* background: url(https://i.kinja-img.com/gawker-media/image/upload/s---Jp3oE95--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/199zpfi8dig2njpg.jpg) */
                                            }
                                            
                                            #laptop {
                                                animation: laptop 10s infinite;
                                            }
                                            
                                            #phone {
                                                animation: phone 12s infinite;
                                            }
                                            
                                            @keyframes laptop {
                                                0% {
                                                    opacity: 0;
                                                }
                                                25% {
                                                    opacity: 1;
                                                }
                                                50% {
                                                    opacity: 0;
                                                }
                                                100% {
                                                    opacity: 0;
                                                }
                                            }
                                            
                                            @keyframes tablet {
                                                0% {
                                                    opacity: 0;
                                                }
                                                50% {
                                                    opacity: 1;
                                                }
                                                100% {
                                                    opacity: 0;
                                                }
                                            }
                                            
                                            @keyframes phone {
                                                0% {
                                                    opacity: 0;
                                                }
                                                50% {
                                                    opacity: 0;
                                                }
                                                100% {
                                                    opacity: 1;
                                                }
                                            }
                                            /* svg {
                                                margin-left: 10rem;
                                                width: 100rem;
                                                margin-top: 10rem;
                                            } */
                                            
                                            div.desktop-wrapper {
                                                position: relative;
                                                padding-top: 25px;
                                                padding-bottom: 67.5%;
                                                height: 0;
                                            }
                                            
                                            div.desktop-wrapper iframe {
                                                box-sizing: border-box;
                                                background: url(https://o.remove.bg/downloads/b9e50ea2-f3ee-4ad2-9c79-5306e8faa966/apple_led_cinema_screen_by_fisshy94-d38e3o5-removebg-preview.png) center center no-repeat;
                                                background-size: contain;
                                                padding: 3.4% 10.8% 18.6%;
                                                /* 11.9% 15.5% 14.8% */
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 100%;
                                                height: 100%;
                                            }